<div class="container">
<h1>iKargo sistem rating shipper</h1>
<h3>Sila baca dahulu sebelum menggunakan sistem ini.</h3>
<br>
<li>Sistem ini dibuat khas untuk mengumpul maklumat mengenai shipper yang lewat membuat pembayaran.</li>
<br>
<li>Mana-mana transporter yang lewat mendapat bayaran dari pihak shipper boleh menggunakan sistem ini dengan memasukkan nama shipper(pilih dari hasil senarai jika ada), tarikh tertunggak,jumlah tertunggak, dan nota untuk rujukan  </li>
<br>
<li>Sistem ini adalah percuma.</li>
</div>