<div class="container">
<h1>iKargo sistem rating shipper</h1>
<h3>Sila baca dahulu sebelum menggunakan sistem ini.</h3>
<br>
<li>Sistem ini dibuat khas untuk mengumpul maklumat mengenai shipper yang lewat membuat pembayaran.</li>
<br>
<li>Mana-mana transporter yang lewat mendapat bayaran dari pihak shipper boleh menggunakan sistem ini dengan memasukkan nama shipper(pilih dari hasil senarai jika ada), tarikh tertunggak,jumlah tertunggak, dan nota untuk rujukan  </li>
<br>
<li>Take out sistem ini adalah percuma.</li>

<h2>Cara guna</h2>
<ol type="1">
  <li>klik daftar dan daftar nama anda beserta email dan password</li>
  <li>permohonan anda akan mengambil sedikit masa untuk diluluskan. sementara itu anda boleh melihat senarai komen yang sedia ada</li>
  <li>selepas permohonan anda diluluskan, anda boleh menggunakan sistem ini untuk menambah komen untuk senarai customer yang sedia ada, atau menambah dari customer baru jika tiada dalam senarai.</li>
  <li>contoh: tulis dahulu nama customer yang ingin dicari dalam kotak carian sebelah kiri. jika nama yang keluar adalah bertepatan dengan carian anda, klik pada hasil carian itu 2 kali sehingga nama itu terpapar di kotak carian. kemudian tekan tulis/cari.Selepas itu akan terpapar senarai komen-komen terdahulu serta kotak untuk menulis komen baru.</li>
  <li>Anda juga boleh menggunakan kotak carian sebelah kiri untuk mencari nama customer yang sedia ada.</li>
  
</ol>
</div>